@import url("https://fonts.googleapis.com/css?family=Source+Code+Pro:500&display=swap");

.terminalContainer {
  padding-top: 30px;
  padding-bottom: 30px;
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
}
