$color: #666666;
$title-color: #121216;
$code-color: #7a7d81;

$font: "Open Sans", sans-serif;
$title-font: "Montserrat", Arial, sans-serif;
$code-font: "Source Code Pro", Consolas, Menlo, "Courier New", monospace;
